tudu-card {
  display: block;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 250ms;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
}
