tudu-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .workspace {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 0 1.5rem;

    .project-header {
      padding: 1.5rem 0;

      h1 {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
